<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body> -->
  Bookmark Manager
<ul>
<<<<<<< HEAD
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark %></li>
=======
    <% @bookmarks.each do |xthing| %>
      <li><%= xthing %></li>
>>>>>>> 320ff8c1f50cb84f9fae826fd31bdd8cc5dfe027
    <% end %>
  </ul>
  <!-- </body>
</html> -->
