
<ul>

<form action="/bookmarks/delete" method="post">
<select name='title'>

  <% @bookmarks.each do |bookmark| %>
    <li>      <option value="<%= bookmark.title %>">    <%= bookmark.title %> </option></li>
  <% end %>
  </select>
</ul>
<input type="submit" value="Delete" />
</form>
