<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body> -->
  Bookmark Manager
<ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark.url %><%= bookmark.title %> </li>
    <% end %>
  </ul>
  <!-- </body>
</html> -->
